<head>
    <title>Login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <br>
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
                request.form.username }}">
        <input type="text" placeholder="Token" name="token" value="{{
                request.form.token }}">
        <input class="btn btn-outline-dark" type="submit" value="Login">
    </form>
    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
    {% endif %}
</div>
</body>
</html>